<div class='center'><img src='/brand/logo.svg' width='280' height='70'/><h1>Welcome to The Strategic Edge AI</h1><p class='small'>Please sign in.</p><a class='btn gold' href='/login'>Sign In</a></div>